In [3]:
import pandas as pd
import sqlite3

In [6]:
conn=sqlite3.connect('inventory.db')

In [7]:
tables=pd.read_sql_query("select name from sqlite_master where type='table'",conn)
tables

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4                 sales
5        vendor_invoice
6  vendor_sales_summary

In [17]:
for table in tables['name']:
    print(table)
    print("-"*50+table+"-"*50)
    data=pd.read_sql_query(f"select count(*) as count from {table}",conn)['count'].values[0]
    print("Count of Records : ",data)
    display(pd.read_sql_query(f"select * from {table} limit 10",conn))

begin_inventory
--------------------------------------------------begin_inventory--------------------------------------------------
Count of Records :  206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01
5,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,18,14.99,2024-01-01
6,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,7,14.99,2024-01-01
7,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,2,14.99,2024-01-01
8,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,5,27.99,2024-01-01
9,1_HARDERSFIELD_120,1,HARDERSFIELD,120,Tarantula Azul Tequila Gift,750mL,11,13.99,2024-01-01

end_inventory
--------------------------------------------------end_inventory--------------------------------------------------
Count of Records :  224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31
5,1_HARDERSFIELD_77,1,HARDERSFIELD,77,Three Olives Espresso Vodka,750mL,18,14.99,2024-12-31
6,1_HARDERSFIELD_79,1,HARDERSFIELD,79,Three Olives Loopy Vodka,750mL,7,14.99,2024-12-31
7,1_HARDERSFIELD_115,1,HARDERSFIELD,115,Belvedere Vodka,Liter,35,27.99,2024-12-31
8,1_HARDERSFIELD_126,1,HARDERSFIELD,126,Grey Goose Vodka,Liter,36,29.99,2024-12-31
9,1_HARDERSFIELD_159,1,HARDERSFIELD,159,Glenmorangie Original VAP,750mL + 2/,8,34.99,2024-12-31

purchases
--------------------------------------------------purchases--------------------------------------------------
Count of Records :  2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1
5,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2023-12-20,2024-01-02,2024-01-12,2024-02-05,22.38,6,134.28,1
6,1_HARDERSFIELD_8358,1,8358,Bacardi 151 Proof,750mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,14.49,12,173.88,1
7,30_CULCHETH_4903,30,4903,Bacardi Superior Rum,200mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,2.87,48,137.76,1
8,34_PITMERDEN_3782,34,3782,Grey Goose Le Citron Vodka,750mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-02,2024-01-12,2024-02-05,18.89,5,94.45,1
9,1_HARDERSFIELD_4233,1,4233,Castillo Silver Label Rum,1.75L,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,7.87,23,181.01,1

purchase_prices
--------------------------------------------------purchase_prices--------------------------------------------------
Count of Records :  12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
5,77,Three Olives Espresso Vodka,12.99,750mL,750,1,10.39,7245,PROXIMO SPIRITS INC.
6,79,Three Olives Loopy Vodka,14.99,750mL,750,1,9.62,7245,PROXIMO SPIRITS INC.
7,115,Belvedere Vodka,27.99,1000mL,1000,1,21.37,8112,MOET HENNESSY USA INC
8,126,Grey Goose Vodka,32.99,1000mL,1000,1,20.14,480,BACARDI USA INC
9,168,Three Olives Strawberry,12.99,750mL,750,1,8.95,7245,PROXIMO SPIRITS INC.

sales
--------------------------------------------------sales--------------------------------------------------
Count of Records :  12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
5,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,2024-01-15,375.0,1,0.39,12546,JIM BEAM BRANDS COMPANY
6,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,2024-01-22,375.0,1,0.39,12546,JIM BEAM BRANDS COMPANY
7,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,1,34.99,34.99,2024-01-30,375.0,1,0.39,12546,JIM BEAM BRANDS COMPANY
8,1_HARDERSFIELD_10058,1,10058,F Coppola Dmd Ivry Cab Svgn,750mL,4,59.96,14.99,2024-01-05,750.0,2,0.45,2000,SOUTHERN WINE & SPIRITS NE
9,1_HARDERSFIELD_10058,1,10058,F Coppola Dmd Ivry Cab Svgn,750mL,1,14.99,14.99,2024-01-06,750.0,2,0.11,2000,SOUTHERN WINE & SPIRITS NE

vendor_invoice
--------------------------------------------------vendor_invoice--------------------------------------------------
Count of Records :  5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None
5,2396,BLACK PRINCE DISTILLERY INC,2024-01-08,8191,2023-12-25,2024-02-06,23,234.83,2.30,None
6,1128,BROWN-FORMAN CORP,2024-01-09,8150,2023-12-23,2024-02-19,4684,65403.57,1808.77,None
7,1189,BULLY BOY DISTILLERS,2024-01-09,8171,2023-12-24,2024-02-04,6,132.30,5.29,None
8,1273,CALEDONIA SPIRITS INC,2024-01-06,8172,2023-12-24,2024-02-15,5,146.80,15.53,None
9,11567,CAMPARI AMERICA,2024-01-06,8151,2023-12-23,2024-02-20,1321,12039.71,398.71,None

vendor_sales_summary
--------------------------------------------------vendor_sales_summary--------------------------------------------------
Count of Records :  10692

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
5,480,BACARDI USA INC,3858,Grey Goose Vodka,17.77,23.99,750.0,138809,2466635.93,141860.0,446932.09,3383912.40,111699.19,89286.27,917276.47,27.106980,1.021980,1.371873
6,17035,PERNOD RICARD USA,2589,Jameson Irish Whiskey,30.76,39.99,1750.0,70783,2177285.08,69627.0,614529.34,2773367.73,127931.67,123780.22,596082.65,21.493098,0.983668,1.273773
7,3960,DIAGEO NORTH AMERICA INC,3102,Smirnoff Traveler,12.94,17.99,1750.0,161386,2088334.84,148265.0,292586.29,2592041.35,272422.60,257032.07,503706.51,19.432812,0.918698,1.241200
8,3960,DIAGEO NORTH AMERICA INC,3489,Tanqueray,20.73,27.99,1750.0,91835,1903739.55,90481.0,503661.02,2640491.19,166244.44,257032.07,736751.64,27.902068,0.985256,1.387002
9,12546,JIM BEAM BRANDS COMPANY,1376,Jim Beam,16.29,21.99,1750.0,108866,1773427.14,107061.0,426902.78,2435393.39,196707.35,123880.97,661966.25,27.181081,0.983420,1.373269

In [18]:
purchases=pd.read_sql_query("select * from purchases where VendorNumber = 4466",conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [20]:
purchase_prices=pd.read_sql_query("select * from purchase_prices where VendorNumber = 4466",conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [22]:
da=purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()

In [23]:
da

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [24]:
vendor_invoice=pd.read_sql_query("select * from vendor_invoice where VendorNumber = 4466",conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [26]:
sales=pd.read_sql_query("select * from sales where VendorNo = 4466",conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [ ]:
sal=sales.groupby('Brand')[['SalesQuantity','SalesDollars','SalesPrice']].sum()
sal

In [33]:
fright_summery=pd.read_sql_query("select VendorNumber,sum(Freight) as Freight_cost from vendor_invoice group by VendorNumber order By Freight_cost asc",conn)
fright_summery

     VendorNumber  Freight_cost
0          201359          0.09
1            1439          0.27
2           90026          0.36
3              54          0.48
4           90033          0.61
..            ...           ...
121           480      89286.27
122         17035     123780.22
123         12546     123880.97
124          4425     144929.24
125          3960     257032.07

[126 rows x 2 columns]

In [35]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [36]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [59]:
pd.read_sql_query("""SELECT 
    a.VendorNumber,
    a.VendorName,
    a.Brand,
    a.PurchasePrice,
    b.Volume,
    b.Price as ActualPrice,
    SUM(a.Quantity) AS Total_Quantity,
    SUM(a.Dollars) AS Total_Dollars
FROM purchases AS a
JOIN purchase_prices AS b
    ON a.Brand = b.Brand
    where a.PurchasePrice > 0
GROUP BY 
    a.VendorNumber,
    a.VendorName,
    a.Brand
    
ORDER BY Total_Dollars;""",conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,Total_Quantity,Total_Dollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [52]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [60]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [66]:
pd.read_sql_query("""select VendorNo,
VendorName,
Brand,
sum(SalesDollars) as Total_sales_Dollers,
sum(SalesPrice) as Total_sales_price,
sum(SalesQuantity) as total_sales_Quantity,
sum(ExciseTax) as Total_Excise_Tax
from sales
group by
    VendorNo,
    VendorName,
    Brand
order by total_sales_price    
    """,conn)

,VendorNo,VendorName,Brand,Total_sales_Dollers,Total_sales_price,total_sales_Quantity,Total_Excise_Tax
0,8004,SAZERAC CO INC,5341,5.39,0.49,11,0.58
1,8004,SAZERAC CO INC,5287,0.98,0.98,2,0.10
2,3252,E & J GALLO WINERY,3933,1.98,0.99,2,0.10
3,3924,HEAVEN HILL DISTILLERIES,9123,1.98,0.99,2,0.10
4,9206,PHILLIPS PRODUCTS CO.,2773,0.99,0.99,1,0.05
...,...,...,...,...,...,...,...
11267,480,BACARDI USA INC,3857,1699669.55,589137.79,32945,60533.43
11268,3960,DIAGEO NORTH AMERICA INC,8680,1884307.34,596574.93,47966,88129.80
11269,17035,PERNOD RICARD USA,2589,2773367.73,614529.34,69627,127931.67
11270,9165,ULTRA BEVERAGE COMPANY LLP,3650,2009508.61,662320.04,41639,32783.09
11271,1128,BROWN-FORMAN CORP,1233,5101919.51,672819.31,142049,260999.20

In [8]:
value_sales_summery=pd.read_sql_query("""with FrieghtSummery as(
SELECT VendorNumber,sum(Freight) as Freight_cost from vendor_invoice group by VendorNumber
),
PurchaseSummery as(SELECT 
    a.VendorNumber,
    a.VendorName,
    a.Brand,
    a.PurchasePrice,
    b.Volume,
    b.Price as ActualPrice,
    SUM(a.Quantity) AS Total_Quantity,
    SUM(a.Dollars) AS Total_Dollars
FROM purchases AS a
JOIN purchase_prices AS b
    ON a.Brand = b.Brand
    where a.PurchasePrice > 0
GROUP BY 
    a.VendorNumber,
    a.VendorName,
    a.Brand),
SalesSummery as(SELECT 
    VendorNo,
    VendorName,
    Brand,
    sum(SalesDollars) as Total_sales_Dollers,
    sum(SalesPrice) as Total_sales_price,
    sum(SalesQuantity) as total_sales_Quantity,
    sum(ExciseTax) as Total_Excise_Tax
    from sales
group by
    VendorNo,
    VendorName,
    Brand)
SELECT 
    aa.VendorNumber,
    aa.VendorName,
    aa.Brand,
    aa.PurchasePrice,
    aa.Volume,
    aa.ActualPrice,
    aa.Total_Quantity,
    aa.Total_Dollars,
    bb.Total_sales_Dollers,
    bb.Total_sales_price,
    bb.Total_sales_Quantity,
    bb.Total_Excise_tax,
    cc.Freight_cost
from PurchaseSummery as aa
left join SalesSummery as bb
    on aa.VendorNumber=bb.VendorNo
        and aa.Brand=bb.Brand
left join FrieghtSummery as cc
    on aa.VendorNumber=cc.VendorNumber
order by Total_Dollars;
""",conn)

In [15]:
value_sales_summery

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,Total_Quantity,Total_Dollars,Total_sales_Dollers,Total_sales_price,total_sales_Quantity,Total_Excise_Tax,Freight_cost
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71,85.14,33.66,86.0,4.46,38994.78
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47,143.28,77.61,72.0,15.12,257032.07
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48,1.98,0.99,2.0,0.10,14069.87
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34,65.66,1.47,134.0,7.04,50293.62
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64,15.95,10.96,5.0,0.55,27100.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68

In [20]:
value_sales_summery.dtypes

VendorNumber              int64
VendorName               object
Brand                     int64
PurchasePrice           float64
Volume                   object
ActualPrice             float64
Total_Quantity            int64
Total_Dollars           float64
Total_sales_Dollers     float64
Total_sales_price       float64
total_sales_Quantity    float64
Total_Excise_Tax        float64
Freight_cost            float64
dtype: object

In [22]:
value_sales_summery.isnull().sum()

VendorNumber              0
VendorName                0
Brand                     0
PurchasePrice             0
Volume                    0
ActualPrice               0
Total_Quantity            0
Total_Dollars             0
Total_sales_Dollers     178
Total_sales_price       178
total_sales_Quantity    178
Total_Excise_Tax        178
Freight_cost              0
dtype: int64

In [23]:
value_sales_summery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   VendorNumber          10692 non-null  int64
 1   VendorName            10692 non-null  object
 2   Brand                 10692 non-null  int64
 3   PurchasePrice         10692 non-null  float64
 4   Volume                10692 non-null  object
 5   ActualPrice           10692 non-null  float64
 6   Total_Quantity        10692 non-null  int64
 7   Total_Dollars         10692 non-null  float64
 8   Total_sales_Dollers   10514 non-null  float64
 9   Total_sales_price     10514 non-null  float64
 10  total_sales_Quantity  10514 non-null  float64
 11  Total_Excise_Tax      10514 non-null  float64
 12  Freight_cost          10692 non-null  float64
dtypes: float64(8), int64(3), object(2)
memory usage: 1.1+ MB

In [24]:
value_sales_summery.describe()

,VendorNumber,Brand,PurchasePrice,ActualPrice,Total_Quantity,Total_Dollars,Total_sales_Dollers,Total_sales_price,total_sales_Quantity,Total_Excise_Tax,Freight_cost
count,10692.000000,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,1.051400e+04,10514.000000,10514.000000,10514.000000,10692.000000
mean,10650.649458,18039.228769,24.385303,35.643671,3140.886831,3.010669e+04,4.295417e+04,19111.958773,3129.583317,1804.263569,61433.763214
std,18753.519148,12662.187074,109.269375,148.246016,11095.086769,1.230678e+05,1.689778e+05,45264.605387,11037.801407,11065.659557,60938.458032
min,2.000000,58.000000,0.360000,0.490000,1.000000,7.100000e-01,1.980000e+00,0.990000,1.000000,0.060000,0.090000
25%,3951.000000,5793.500000,6.840000,10.990000,36.000000,4.534575e+02,8.098200e+02,334.890000,36.000000,5.382500,14069.870000
50%,7153.000000,18761.500000,10.455000,15.990000,262.000000,3.655465e+03,5.599700e+03,3020.085000,280.000000,50.425000,50293.620000
75%,9552.000000,25514.250000,19.482500,28.990000,1975.750000,2.073825e+04,2.952425e+04,16442.477500,1985.000000,436.730000,79528.990000
max,201359.000000,90631.000000,5681.810000,7499.990000,337660.000000,3.811252e+06,5.101920e+06,672819.310000,334939.000000,368242.800000,257032.070000

In [26]:
value_sales_summery['Volume']=value_sales_summery.Volume.astype('float64')
value_sales_summery.fillna(0,inplace=True)

In [29]:
value_sales_summery['VendorName']=value_sales_summery['VendorName'].str.strip()

In [30]:
value_sales_summery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   VendorNumber          10692 non-null  int64
 1   VendorName            10692 non-null  object
 2   Brand                 10692 non-null  int64
 3   PurchasePrice         10692 non-null  float64
 4   Volume                10692 non-null  float64
 5   ActualPrice           10692 non-null  float64
 6   Total_Quantity        10692 non-null  int64
 7   Total_Dollars         10692 non-null  float64
 8   Total_sales_Dollers   10692 non-null  float64
 9   Total_sales_price     10692 non-null  float64
 10  total_sales_Quantity  10692 non-null  float64
 11  Total_Excise_Tax      10692 non-null  float64
 12  Freight_cost          10692 non-null  float64
dtypes: float64(9), int64(3), object(1)
memory usage: 1.1+ MB

In [31]:
value_sales_summery['GrossProfit']=value_sales_summery['Total_sales_Dollers']-value_sales_summery['Total_Dollars']

In [32]:
value_sales_summery['GrossProfit'].min()

-52002.780000000006

In [33]:
value_sales_summery['ProfitMargin']=(value_sales_summery['GrossProfit']/value_sales_summery['Total_sales_Dollers'])*100

In [34]:
value_sales_summery['StockTurnover']=value_sales_summery['total_sales_Quantity']/value_sales_summery['Total_Quantity']

In [37]:
value_sales_summery['SalestoPurchaseRatio']=value_sales_summery['Total_sales_Dollers']/value_sales_summery['Total_Dollars']

In [38]:
cursor=conn.cursor()

In [39]:
value_sales_summery.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'PurchasePrice', 'Volume',
       'ActualPrice', 'Total_Quantity', 'Total_Dollars', 'Total_sales_Dollers',
       'Total_sales_price', 'total_sales_Quantity', 'Total_Excise_Tax',
       'Freight_cost', 'GrossProfit', 'ProfitMargin', 'StockTurnover',
       'SalestoPurchaseRatio'],
      dtype='object')

In [40]:
cursor.execute("""create table Vendor_Sales_Summery(
VendorNumber int,
VendorName varchar(100),
Brand int,
PurchasePrice decimal(10,2),
Volume ,
ActualPrice decimal(10,2),
TotalPurchaseQuantity int,
TotalPurchaseDollars decimal(15,2),
Total_sales_Dollers decimal(15,2),
Total_sales_price decimal(15,2),
total_sales_Quantity int,
Total_Excise_Tax decimal(15,2),
Freight_cost decimal(15,2),
GrossProfit decimal(15,2),
ProfitMargin decimal(15,2),
StockTurnover decimal(15,2),
SalestoPurchaseRatio decimal(15,2),
primary key (VendorNumber,Brand)
);""")

In [42]:
pd.read_sql_query("select * from Vendor_Sales_Summery",conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, PurchasePrice, Volume, ActualPrice, TotalPurchaseQuantity, TotalPurchaseDollars, Total_sales_Dollers, Total_sales_price, total_sales_Quantity, Total_Excise_Tax, Freight_cost, GrossProfit, ProfitMargin, StockTurnover, SalestoPurchaseRatio]
Index: []

In [44]:
value_sales_summery.to_sql('Vendor_Sales_Summery',conn,if_exists='replace',index=False)

10692

In [45]:
pd.read_sql_query("select * from Vendor_Sales_Summery",conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,Total_Quantity,Total_Dollars,Total_sales_Dollers,Total_sales_price,total_sales_Quantity,Total_Excise_Tax,Freight_cost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50.0,0.99,1,0.71,85.14,33.66,86.0,4.46,38994.78,84.43,99.166079,86.000000,119.915493
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200.0,1.99,1,1.47,143.28,77.61,72.0,15.12,257032.07,141.81,98.974037,72.000000,97.469388
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50.0,0.99,2,1.48,1.98,0.99,2.0,0.10,14069.87,0.50,25.252525,1.000000,1.337838
3,8004,SAZERAC CO INC,5683,0.39,50.0,0.49,6,2.34,65.66,1.47,134.0,7.04,50293.62,63.32,96.436186,22.333333,28.059829
4,9815,WINE GROUP INC,8527,1.32,750.0,4.99,2,2.64,15.95,10.96,5.0,0.55,27100.41,13.31,83.448276,2.500000,6.041667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750.0,29.99,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750.0,22.99,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
10689,17035,PERNOD RICARD USA,8068,18.24,1750.0,24.99,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750.0,28.99,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750.0,36.99,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647